:root {
   --primary:#2563EB;
    --secondary:#10B981;
    --accent:#FBBF24;
    --dark:#0F172A;
    --light:#F8FAFC;
}

body{
    background:rgb(49, 46, 46);
}

.services h2{
    font-size: 28px;

    margin-bottom: 35px;

    color:var(--accent);

    position:relative;
}

.services p{
    color:#bbc5cf;
}

#btn{
    display:inline-block;
    background-color: rgb(120, 190, 167) ;
    border-radius: 67px;
    border-style:outset;
     
    width: 50px;
    height: 30px;
    margin-left:15px;
    color: white;
    padding: 9px 9px;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    text-align: start;
    font-weight: 600;
    box-shadow: 0 0 15px rgb(24, 153, 228);
}

#btn:active {
    transform: scale(0.95);
}
