:root {
   --primary:#2563EB;
    --secondary:#10B981;
    --accent:#FBBF24;
    --dark:#0F172A;
    --light:#F8FAFC;
}

body{
    background:rgb(49, 46, 46);
}

.services h2{
    font-size: 28px;

    margin-bottom: 35px;

    color:var(--accent);

    position:relative;
}

.services p{
    color:#bbc5cf;
}

#btn img{
   width: 60px;
    height: 60px;
    padding: 0; 
    border: none;
    background: none;
    cursor: pointer;
}
